{% extends "layout.html" %}
{% load widget_tweaks %}
{% block title %}Change Password | {{ user }} {{ super }}{% endblock %}
{% block body %}
<section class="fdb-block fp-active" data-block-type="forms" data-id="80" draggable="true">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-7 col-md-5 text-center">
                <div class="fdb-box fdb-touch">
                    <div class="row">
                        <div class="col">
                            <h1>Change password</h1>
                        </div>
                    </div>
                    <form method="POST" action="{% url 'accounts:change_password' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col mt-4">
                                {% render_field form.old_password class="form-control" placeholder="Old password" %}
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col ">
                                {% render_field form.new_password1 class="form-control" placeholder="New password" %}
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col ">
                                {% render_field form.new_password2 class="form-control" placeholder="New password confirmation" %}
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}