{% extends 'layout.html' %}
{% block body %}
{% if not profile.first_name %}
<div class="grid-75">
    <p>You have an empty profile. Click icon to edit profile!</p>
</div>
{% else %}
<div class="grid-75">
    <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
    {% if profile.avatar %}
    <div>
        <img src="{{ profile.avatar.url }}" height="150">
    </div>
    {% endif %}
    <div>
        <p>{{ profile.bio|safe}}</p>
    </div>
    <div>
        <table>
            <tr>
                <td>Email</td>
                <td>{{ profile.email }}</td>
            </tr>
            <tr>
                <td>Date of Birth</td>
                <td>{{ profile.date_of_birth }}</td>
            </tr>
            <tr>
                <td>Country</td>
                <td>{{ profile.country }}</td>
            </tr>
            <tr>
                <td>Favorite animal</td>
                <td>{{ profile.favorite_animal }}</td>
            </tr>
            <tr>
                <td>Hobby</td>
                <td>{{ profile.hobby }}</td>
            </tr>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}