{% extends 'layout.html' %}
{% block body %}
<section class="fdb-block team-3 fp-active" data-block-type="teams" data-id="78" draggable="true">
    <div class="container">
        <div class="row text-center justify-content-center mb-5">
            <div class="col-sm-3 m-sm-auto">
                {% if not profile.first_name %}
                <p>You have an empty profile!</p>
                <a class="btn btn-primary btn-sm" href="{% url 'accounts:edit_profile' %}" role="button">Edit
                    profile</a>
                {% else %}
                {% if profile.avatar %}
                <img alt="image" class="img-fluid rounded-circle" src="{{ profile.avatar.url }}">
                {% endif %}
                <h2><strong>{{ profile.first_name }} {{ profile.last_name }}</strong></h2>
                <p><em>{{ profile.bio|safe}}</em></p>
                <h3>Email</h3>
                <p>{{ profile.email }}</p>
                <h3>Date of Birth</h3>
                <p>{{ profile.date_of_birth }}</p>
                <h3>Country</h3>
                <p>{{ profile.country }}</p>
                <h3>Favorite Animal</h3>
                <p>{{ profile.favorite_animal }}</p>
                <h3>Hobby</h3>
                <p>{{ profile.hobby }}</p>
                <a class="btn btn-primary btn-sm" href="{% url 'accounts:edit_profile' %}" role="button">Edit
                    profile</a>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}