{% extends "layout.html" %}
{% block title %}Sign Up | {{ super }}{% endblock %}
{% block body %}
<section class="fdb-block fp-active" data-block-type="forms" data-id="80" draggable="true">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-7 col-md-5 text-center">
                <div class="fdb-box fdb-touch">
                    <div class="row">
                        <div class="col">
                            <h1>Sign up</h1>
                        </div>
                    </div>
                    <form method="POST" action="{% url 'accounts:sign_up' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col mt-4">
                                <input name='username' type="text" class="form-control" placeholder="Userame">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col ">
                                <input name='password1' type="text" class="form-control" placeholder="Password">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <input name='password2' type="password_confirmation" class="form-control mb-1"
                                    placeholder="Password comfirmation">
                                <p class="text-right">Already have an
                                    account? <a href="{% url 'accounts:sign_in' %}">Sing in</a></p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}