{% extends 'layout.html' %}
{% load static %}
{% block body %}
<section class="fdb-block fp-active" data-block-type="call_to_action" data-id="91" draggable="true">
    <div class="container">
        <div class="row align-items-center text-left">
            <div class="col-12 col-md-8">
                <h1>Minimal Profile</h1>
                <p class="lead">Profile page for minimalists.</p>
            </div>
            <div class="col-12 col-md-3 ml-auto text-left text-md-right">
                <p><a href="{% url 'accounts:sign_up' %}" class="btn btn-primary">Create account</a></p>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-6 offset-3">
                <img alt="image" class="img-fluid" src="{% static 'accounts/images/home.png' %}">
            </div>
        </div>
    </div>
</section>
{% endblock %}